html{
	height: 100%;
}

body{
	height: 100%;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

div.menu{
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2em;
    text-align: center;
    z-index: 1;
}

div.menu ul{
	padding: 0;
}

div.menu ul li{
	display: inline-block;
	padding: 0.6rem;
}

div.menu ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

div.menu ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 0.5rem;
	transition: 0.6s;
}

div.menu ul li a:hover{
	color: orange;
	border-bottom: 2px solid;
}


.image-wrapper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

@media only screen and (min-width: 600px) {
	.image-wrapper {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	}
}


.inner-image-wrapper{
	margin-bottom: 1rem;
	background-color: #ffc3a0;
    background-image: linear-gradient(141deg, #FFAFBD 51%, #ffc3a0 75%);
	width:100%;
	position: relative;
	padding-bottom: 56.25%;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
} 


.inner-image-wrapper img{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	transition: 1s;
}


/* Logo */
.menu svg{
	fill: white;
	transition: 0.2s;
}

.menu svg:hover{
	fill: orange;
}